<div id="app">
  <div class="top">
    <!-- 导航 -->
    <div class="nav">
      <div class="cover">
        <div class="logo">
          <img src="" alt="" class="img_logo">
          <span class="app"><a href="">主站</a> </span>
          <span class="pc"> <a href="">注册</a> </span>
        </div>
        <span><a href="">Win版</a></span>
        <span><a href="">手机版</a></span>
      </div>
      <!--  -->
    </div>
    <div class="people_img">
      <div class="top_left">
        <img src="" alt="">
      </div>
      <div class="top_right">
        <div class="name">ProprLive</div>
        <div class="similar">干啥啥不行</div>
        <div class="
        similar">吃饭第一名</div>
        <div class="download">立即下载</div>
        <div class="similar">版本号：DirectX 版本</div>
        <div class="similar">支持系统：Windows 10</div>
      </div>
    </div>

  </div>
  <div class="mid">
    <!--  -->
    <div class="mid_left">
      <div class="mid_left_img">
        <img src="http://a3.att.hudong.com/68/61/300000839764127060614318218_950.jpg" alt="" >
      </div>
      <div class="mid_left_1">
        <div class="same">一键开播</div>
        <div>礼物掉落</div>
        <div>自定义的贴图掉落</div>
        <div>实时反馈观众送礼</div>
      </div>
    </div>
    <!--  -->
    <div class="mid_left">
      <div class="mid_left_img">
        <img src="http://a3.att.hudong.com/68/61/300000839764127060614318218_950.jpg" alt="" >
      </div>
      <div class="mid_left_1">
        <div class="same">快捷管理</div>
        <!-- <div>礼物掉落</div>
        <div>自定义的贴图掉落</div>
        <div>实时反馈观众送礼</div> -->
        <div>快捷管理直播信息和房管信息，点击房间管理和信息修改，可以跳转到对应的设置页面</div>
      </div>
    </div>
    <!--  -->
    <div class="mid_left">
      <div class="mid_left_img">
        <img src="http://a3.att.hudong.com/68/61/300000839764127060614318218_950.jpg" alt="" >
      </div>
      <div class="mid_left_1">
        <div class="same">一键开播</div>
        <div>礼物掉落</div>
        <div>自定义的贴图掉落</div>
        <div>实时反馈观众送礼</div>
      </div>
    </div>
    <!--  -->
    <div class="mid_left">
      <div class="mid_left_img">
        <img src="http://a3.att.hudong.com/68/61/300000839764127060614318218_950.jpg" alt="" >
      </div>
      <div class="mid_left_1">
        <div class="same">一键开播</div>
        <div>礼物掉落</div>
        <div>自定义的贴图掉落</div>
        <div>实时反馈观众送礼</div>
      </div>
    </div>
    <!--  -->
    <div class="mid_left">
      <div class="mid_left_img">
        <img src="http://a3.att.hudong.com/68/61/300000839764127060614318218_950.jpg" alt="" >
      </div>
      <div class="mid_left_1">
        <div class="same">一键开播</div>
        <div>礼物掉落</div>
        <div>自定义的贴图掉落</div>
        <div>实时反馈观众送礼</div>
      </div>
    </div>
    <!--  -->
    <div class="mid_left">
      <div class="mid_left_img">
        <img src="http://a3.att.hudong.com/68/61/300000839764127060614318218_950.jpg" alt="" >
      </div>
      <div class="mid_left_1">
        <div class="same">一键开播</div>
        <div>礼物掉落</div>
        <div>自定义的贴图掉落</div>
        <div>实时反馈观众送礼</div>
      </div>
    </div>
    <!--  -->
  </div>
  <div class="btm">
    <h2>即将上线</h2>
    <div class="intro">
      <div class="btm_left">
        <div>入门基本配置 <span>(适用于摄像头聊天互动)</span></div>
        <div>CPU:Intel Core i5 4200</div>
        <div>显卡:GTX 950M</div>
        <div>内存:8GB RAM</div>
      </div>
      <div class="btm_left">
        <div>游戏直播配置 <span>(适用于直播各种游戏)</span></div>
        <div>CPU:Intel Core i5 4200</div>
        <div>显卡:GTX 950M</div>
        <div>内存:8GB RAM</div>
      </div>

      <div class="btm_left">
        <div>官方推荐配置 <span>(适用于各种类型的直播)</span></div>
        <div>CPU:Intel Core i5 4200</div>
        <div>显卡:GTX 950M</div>
        <div>内存:8GB RAM</div>
      </div>
    </div>
  </div>
</div>